/* .flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
} */


/* 

.overflow-hidden {
  overflow: hidden;
}

.transition-all {
  transition-property: all;
}

.duration-300 {
  transition-duration: 300ms;
}

.hover\:scale-110:hover {
  transform: scale(1.1);
}

.text-lg {
  font-size: 1.125rem;
}

.text-center {
  text-align: center;
}

.text-gray-600 {
  color: #718096;
} */
